<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sovince.mapper.EmpMapper">

    <select id="list" resultType="Emp">
        SELECT * FROM emp LIMIT #{index},#{limit}
    </select>


    <select id="listWithDept" resultType="Emp">
        SELECT e.*,
               d.deptno "dept.deptno",
               d.dname "dept.dname",
               d.loc "dept.loc"
        FROM emp e JOIN dept d ON e.deptno = d.deptno
        LIMIT #{index},#{limit}
    </select>

</mapper>